---
layout: layouts/home.njk
title: Board
templateClass: tmpl-post
eleventyNavigation:
  key: Board
  order: 4
---

<div id="board-controls">
	<a id="board-save-link" download="board-canvas.png" href="">Save</a>
</div>

<canvas id="canvas" height="500" width="600"></canvas>
