---
layout: layouts/home.njk
title: Notes
templateClass: tmpl-post
eleventyNavigation:
  key: Notes
  order: 1
---

Private Notes.

<div id="notes">
<textarea id="noteTextarea"></textarea>
<small>All notes are stored in this URL and your current browser only - <a href="#" id="clearNotes">clear all</a></small>
<div id="previousNotes"></div>
</div>


