---
layout: layouts/home.njk
title: Clock
templateClass: tmpl-post
eleventyNavigation:
  key: Clock
  order: 5
---

<div class="clock">
  <p>Current time at home: <time id="current-pst-time">Nothing</time> </p>
  
  <p>
  My Clock:
  <time id="clock">Nothing</time>
  </p>
</div>
