---
layout: layouts/home.njk
title: Clock
templateClass: tmpl-post
eleventyNavigation:
  key: Clock
  order: 5
---

<div class="clock">
  <p>Time at my home: <time id="current-pst-time">Nothing</time> </p>
  
  <p>
  Your Clock:
  <time id="clock">Nothing</time>
  </p>
<small>Use this to meditate or focus your mind.</small>
</div>
