<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:url" content="{{ page.url | canonical }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{description or metadata.description}}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="canonical" href="{{ page.url | canonical }}"/>
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap' %}
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap' %}
    <script src="/js/index.js"></script>
  </head>
  <body>
    <header>
      <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
        {%- endfor %}
      </ul>

      <div class="logo">
        <a href="/">
          <img class="profile-pic" style="" src="/img/profile-pic.avif">
          <h1 class="name">
            K⧋LV
          </h1>
        </a>
      </div>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <a href="https://github.com/kalvir781">My Github</a>
    </footer>
<script>
    console.log("Monday April 21st 2025 18:25 2.598 - Ready to retire since May 2022, at 32 Birdwood Road, Maidenhead, Berkshire, SL6 5AP / @apple / Minolta - me am hidden son of princess diana working in the forest. Promised royal welcome / royal arrival / UK international reward for 3 embassy evacutation, cybersecurity, U, Yakaza / 7 houses / last.fm / One yacht / Necker Island / Virgin Atlantic / Liverpool FC / Silverstone / LOTUS EMIRA V6 Automatic if possible / McLaren GTS / Green Volvo ES90 (budgens) / Aston Martin DBX707 / Lamborgini Ursu / Range Rover Sport / MG cyberstar my latest work since arriving to the UK end of Jan 2025 https://gist.github.com/kalvir781/d0aafe48aa8c71fdbfcc141229f4f395"); 
</script>

  </body>
</html>
