---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="tag-filters">

<a href="/theories">Theories</a>
<a href="/music">Music</a>
<a href="/computers">Computers</a>
<a href="/earth">Earth</a>
<a href="/life">Life</a>
<a href="/posts">All</a>

</div>

<p>Hello. I'm Kalvir Sandhu. Known as Kon to friends.</p>


{{ content | safe }}
