---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="tag-filters">

<a href="/theories">Theories</a>
<a href="/media">Media</a>
<a href="/computers">Computers</a>
<a href="/travel">Travel</a>
<a href="/posts">All</a>

</div>

{{ content | safe }}
